*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
}
nav{
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px groove red;
    font-size: 1.3em;
}
.logo img{
    margin-left: 50px;
    margin-top: 10px;
    width: 120px;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin-left: 24px;
}
.user{
    border: 0px;
    border-radius: 30px;
    background-color: cadetblue;
    padding: 20px;
    margin-right: 30px;
    font-weight: 500;
    color: beige;
}
.hero{
    height: 70vh;
    display: flex;
justify-content: space-evenly;
font-size: 1.5em;
}
.left{
    margin-top: 70px;
}
.left h1{
    letter-spacing: 1.6px;
    word-spacing: 4px;
    line-height: 2.2cap;
}
.left p{
    margin-top: 20px;
    word-spacing: 3px;
    letter-spacing: 1.1px;
    line-height: 2cap;
}
.right{
    background-image: url(transparent-washing-machine.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw;
}
button{
    padding: 20px;
    border: 0;
    border-radius: 40px;
    background-color: rgb(16, 206, 235);
    color: rgb(210, 30, 156);
    font-size: larger;
    margin-left: 200px;
    margin-bottom: 200px;
}