* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
li a {
  text-decoration: none;
  color: rgb(24, 20, 16);
}
li a:hover {
  color: red;
}
.user {
  border: none;
  border-radius: 40px;
  padding: 10px 10px;
  background-color: bisque;
  color: rgb(48, 14, 200);
  margin-right: 10px;
  text-align: center;
}
.hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  margin-left: 10px;
}
.left h1 {
  line-height: 1.4em;
}
.left p {
  margin-top: 10px;
  line-height: 1.6em;
  align-self: center;
}
.btn {
  margin-top: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 40px;
  background-color: tomato;
  color: white;
  font-size: 0.8em;
  align-self: center;
}
.btn:hover {
  transform: scale(1.07);
}
.right {
  display: flex;
  flex: 1;
  background: url(transparent-washing-machine.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  align-items: center;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .left{
    margin-left: 8px;
  }
  .right {
    min-height: 500px;
    background-size: contain;
  }
  ul li:last-child {
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  ul {
    flex-direction: column;
    justify-content: flex-start;
  }
}
